<div class="card">
  <h1>Tabla de Colaboradores</h1>
  <p-table [value]="collaborators" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Apellido</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-collaborator>
      <tr>
        <td>{{ collaborator.id }}</td>
        <td>{{ collaborator.firstName }}</td>
        <td>{{ collaborator.lastName }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="3">No existen colaboradores registrados</td>
      </tr>
    </ng-template>
  </p-table>
</div>