<div class="flex justify-content-center my-8">
  <h1>Login</h1>
</div>
<div class="flex justify-content-center my-auto">
  <form>
    <span class="flex flex-column gap-2 mb-5">
      <label for="username">Nombre de Usuario</label>
      <input type="text" pInputText placeholder="Username" id="username">
    </span>
    <span class="flex flex-column gap-2">
      <label for="password">Contraseña</label>
      <input type="password" pInputText placeholder="Password" id="password">
    </span>
    <div class="py-4 flex justify-content-center"><p-button label="Iniciar Sesión"></p-button></div>

  </form>
</div>