<div class="flex justify-content-center my-8">
  <h1>Login</h1>
</div>
<div class="flex justify-content-center my-auto">
  <form [formGroup]="login" (ngSubmit)="sendloginAttempt()">
    <span class="flex flex-column gap-2 mb-5">
      <label for="username">Nombre de Usuario</label>
      <input type="text" pInputText placeholder="Username" id="username" formControlName="username"
        pTooltip="Ingrese un nombre de usuario">
    </span>
    <span class="flex flex-column gap-2">
      <label for="password">Contraseña</label>
      <input type="password" pInputText placeholder="Password" id="password" formControlName="password"
        pTooltip="Ingrese una contraseña">
    </span>
    <div class="py-4 flex justify-content-center"><p-toast></p-toast><p-button [disabled]="!login.valid"
        label="Iniciar Sesión" type="submit"></p-button></div>

  </form>
</div>