<p-dialog header="Formulario de Reporte" [(visible)]="visible" [style]="{width: '50vw'}" [modal]="true">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
</p-dialog>
<div class="card">

  <div class="flex align-items-center justify-content-between my-4">
    <h1>Tabla de Reportes</h1>
    <p-button label="Realizar Reporte" icon="pi pi-plus" rounded="true" (onClick)="showDialog()"></p-button>
  </div>

  <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Codigo de Conductor</th>
        <th>Nombre del Conductor</th>
        <th>Fechas del Reporte</th>
        <th>Monto Pagado</th>
        <th>Ver Detalles</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.code }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.category }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">No se han creado reportes</td>
      </tr>
    </ng-template>
  </p-table>
</div>